:root {
    --fundo: #E6E6FA;
    --cor-frente: #FFF0F5;
    --cor-verso: #836FFF;
    --destaque: #66e2e4;
    --preto: #000000;
    --branco: #ffffff;

}

body {
    background-color: var(--fundo);
    margin: 0;
}

header {
    background-color: var(--preto);
    display: flex;
    justify-content: space-around;
    padding: 2rem;
}

header a {
    color: var(--branco);
    
}

footer {
    position: fixed;
    bottom: 0;
    background-color: var(--branco);
    color: var(--preto);
    width: 100%;
    text-align: center;
}

#container {
    display: grid;
    gap: 3rem;
    padding: 4rem;
}
 
.cartao{
    background-color: var(--cor-frente);
    padding: 40px; 
}

.cartao:hover{
    transform: scale(1.03);
}