:root {
    --fundo: #E6E6FA;
    --cor-frente: #FFF0F5;
    --cor-verso: #836FFF;
    --destaque: #00CED1;
    --preto: #000000;
    --branco: #ffffff;

}

body { 
    background-color: var(--fundo);
}

footer {
    position: fixed;
    bottom: 0;
    background-color: var(--destaque);
    color: var(--branco);
    width: 100%;
}